@font-face {
  font-family: "ArchivoBlack";
  src: url("../fonts/ArchivoBlack-Regular.woff2"), format("woff2");

  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular"), format("woff2");

  font-style: normal;
}
