.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding-top: 40px;
}

.header__content-container {
  width: 793px;
  height: 441px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 120px;
}

.header__title {
  font-size: 72px;
  font-family: "ArchivoBlack", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5px;
}

.header__subheading {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  color: #ffffff85;
  margin-top: 0;
}

.header__description {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.header__links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.header__link {
  color: #fff;
  text-decoration: none;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  position: relative;
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #4c1a97, #6d6dff);
}

.header__image-container {
  position: relative;
  margin-right: 120px;
}

.header__image {
  width: 387px;
  height: 500px;
  position: relative;
  z-index: 10;
}

.header__eclipse {
  width: 300px;
  aspect-ratio: 1 / 1;
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 300px #6d6dff;
}
