@import url("../vendor/normalize.css");
@import url("./fonts.css");
@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");

body {
  background-color: #111;
  color: #fff;
  max-width: 1440px;
  margin: auto;
}
